// Scroll snapping is available in IOS 9 and Chrome and makes alignment easier by snapping to a card    
.container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    scroll-behavior: smooth;
}

.card {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    background-color: var(--ion-color-dark);
    color: var(--ion-color-dark-contrast);
    border-radius: 10px;
    min-width: calc(100vw - 40px); // full width minus margins
    min-height: calc(100vh - 150px); // full height minus tabs and header
    margin: 20px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
}

.card-container {
    overflow-y: scroll;
    height: calc(100vh - 150px);
}